.calculatorWindow{
   
    background-color: blanchedalmond; 
     /*background-color: hsl(165, 2%, 56%); */
     width: 50%; /* Adjust the width as needed */
   max-width: 400px; /* Set a maximum width to prevent it from becoming too wide */
   margin: 0 auto; /* Horizontally center the div */
   position: absolute;
   top: 50%; /* Vertically center the div */
   left: 50%; /* Horizontally center the div */
   transform: translate(-50%, -50%); /* Center the div precisely */
   padding: 20px; /* Add padding as needed. */
   box-shadow: inset 2px 2px 5px #888888;
   border-radius: 1cap;
 }
 
 .name{
 
     text-align: center; 
 }
 .heading{
 
     text-align: center; 
     font-family: Arial;
     font-size: 24px;
     font-weight : bold
 }
 
 .billDetailsContainer{
 
     display: flex;
     flex-direction: column;
     /*background-color: aqua; */
     justify-content: flex-start;
     align-items: flex-end;
     margin-right: 20px;
     gap: 10px;
     
 }
 
 #error-message{
 
     margin: 0;
 }
 
 
 
 @media (max-width: 700px) {
   .billDetailsContainer{
 
     display: flex;
     flex-direction: column;
     /*background-color: aqua; */
     justify-content: flex-start;
     align-items: center;
     margin-right: auto;
     margin-left: auto; 
     gap: 2px;
     
 }
 .flex-item {
   flex: 0 0 100%;
   margin-bottom: 5px;
 }
     .labelElement{
       display: block;
     }
   }